@import url('bootsrap.min.css');


html, body {
    width: 100%;
    height: 100%;
}

.nav-item {
    margin-right: auto;
}

header.masthead {
    padding-top: 30rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('./Assets/FSUPC_Sunset.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  header.masthead h1 {
    position: static;
    margin-top:300px;
    /* margin-bottom: 300px; */
    font-size: 2rem;
  }
  
  header.masthead p {
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 99px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 120px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 800px) {
    .img-disappear {display:none;}
  }

.bg-about {
    background: #782F40 !important;
}
.bg-boat {
    background: #074996 !important;
}

.boat-header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.boat-carousel {
  margin-bottom: 50px;
  float: right;
}

.fsu-logo {
  display: inline-block;
  margin-left:auto;
  margin-right: 50px;
}

.gcsc-logo {
  display: inline-block;
  margin-right:auto;
  margin-left: 50px;
}

#logos {
  text-align: center;
}

